.start_container .main_container img{
  width: 100%;
  margin-top: 150px;
}

.start_container .text_container {
  color: white;
  text-align: center;
  width: 50%;
  margin: 100px auto;
  font-size: 16pt;
}

.start_container .text_container h1{
  margin-bottom: 50px;
}

.start_container .text_container p {
  line-height: 17pt;
}

.button_container {
  text-align: center;
  color: white;
  font-size: 15pt;
}

.button_container span{
  color: var(--amarelo)
}

.history_linker{
  background-color: var(--vermelho_claro);
  width: 230px;
  height: 60px;
  font-weight: 400;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  line-height: 17pt;
  position: relative;
  left:-50px;
  top:200px;
  cursor: pointer;
  transition: .2s;
  color: white;
}

.history_linker h2 {
  font-size: 16pt;
  margin-bottom: 10px;
  width: 100px;
}

.history_linker:hover{
  transition: .2s;
  left: -30px;
}